name: summarize_progress

on:
    schedule:
      - cron:  '30 23 * * 5'

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
        # Give the default GITHUB_TOKEN write permission to commit and push the
        # added or changed files to the repository.
        contents: write
    steps:
      - uses: actions/checkout@v2

      - name: Install poetry
        uses: abatilo/actions-poetry@v2

      - name: Execute Check Process
        run: |
            chmod +x .scripts/summarize_progress.sh 
            .scripts/summarize_progress.sh
        shell: bash

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
            commit_message: Weekly Update -- Summarize Progress